* {
    margin: 0;
    padding: 0;
}

body {
    width: calc(100vw - (100vw - 100%));
    height: 220vh;
}

/*Navbar*/

#navbar {
    width: 100%;
    height: 120px;
    background-color: black;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    column-gap: 0px;
}

#logo {
    height: 100px;
    justify-self: center;
    align-self: center;
    transition: all 0.15s;
}

#navbar_fordon {
    color: whitesmoke;
    justify-self: end;
    align-self: center;
    font-weight: bold;
    transition: all 0.15s;
}

#navbar_reservdelar {
    color: whitesmoke;
    justify-self: start;
    align-self: center;
    font-weight: bold;
    transition: all 0.15s;
}

#logo:hover {
    transition: all 0.15s;
    height: 110px;
}

#navbar_fordon:hover {
    transition: all 0.15s;
    font-size: 107.7%;
}

#navbar_reservdelar:hover {
    transition: all 0.15s;
    font-size: 107.7%;
}

/*Hero*/

#hero_image {
    height: calc(120vh - 120px);
    background-image: url(./Images/HERO.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero_image img {
    width: 100%;

}

#hero_text_holder {
    height: 150px;
    width: 200px;
    top: 40%;
    left: 10%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}

/*Cards*/
#holder {
    display: grid;
    height: 100%;
    width: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    /*grid-template-areas:
        "a b c"
        "d e f";*/
}

.card {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.img_holder {
    height: 60%;
    width: 100%;
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.Name {
    align-self: flex-start;
    padding: 2.5%;
    font-weight: 700;
    font-size: 16px;
    font-family: inter;
    padding-bottom: 0px;
}

.greytext {
    align-self: flex-start;
    padding: 2.5%;
    font-weight: 400;
    font-size: 12px;
    font-family: inter;
    padding-top: 0px;
    color: rgb(107 114 128);
}


.cost {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 16px;
    padding-top: 20%;
    justify-content: space-between;
}

.fullcost {
    font-weight: 800;
    font-size: 16px;
    font-family: inter;
    padding-right: 0;
}

.monthly_cost {

    font-weight: 800;
    font-size: 16px;
    font-family: inter;
    padding-left: 0;

}

.kr {
    font-weight: 600;
    font-size: 14px;
    font-family: inter;
    color: rgb(75 85 99);
}

.img_holder img {
    height: 95%;
    width: 95%;
    transition: all 0.15s;
}

.img_holder img:hover {
    transition: all 0.15s;
    height: 100%;
    width: 100%;
}

/*Footer*/

#footer_holder {
    height: 20vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#footer_rights {
    color: whitesmoke;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    transition: all 0.15s;
}

#footer_aboutus {
    color: whitesmoke;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    transition: all 0.15s;
}

#footer_insurance {
    color: whitesmoke;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    transition: all 0.15s;
}

#footer_rights:hover {
    transition: all 0.15s;
    font-size: 107.7%;
}

#footer_aboutus:hover {
    transition: all 0.15s;
    font-size: 107.7%;
}

#footer_insurance:hover {
    transition: all 0.15s;
    font-size: 107.7%;
}